- @ideas.each do |idea|
  .well.idea
    %b= link_to idea.title, idea
    %div= idea.description
    .bottom-row.row-fluid
      .pull-left
        = render :partial => 'votes/votes_count' , :locals => {:idea => idea}
      .pull-right
        .owner
          By:
          = link_to idea.username, user_path(idea.username)
          =#gravatar_image_tag(@user.email, :alt => @user.full_name, :class => 'thumbnail', :gravatar => { :size => 15 })
          |
        .time
          Created:
          = idea.created_at.to_date

.pagination.pagination-centered
  = paginate @ideas
