%legend
  .row-fluid
    .pull-left
      %h2 Ideas
    .pull-right
      %a.btn.btn-primary{href: new_idea_path}
        %i.icon-plus.icon-white
        New Idea

%form.form-inline.row-fluid
  .span6.center
    = label_tag 'filter_by', 'Filter By'
    = select_tag 'filter_by', options_for_select(filter_criteria, params[:filter_by]), class: 'ideas-filter', id: 'ideas-filter-by'
  .span6.center
    = label_tag 'order_by', 'Sort By'
    = select_tag 'order_by', options_for_select(order_criteria, params[:order_by]), class: 'ideas-filter', id: 'ideas-order-by'

#ideas-progress.progress.progress-striped.active.hide
  .bar{style: 'width: 100%'}

#ideas-list
  = render 'list'
