<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @idea.id %>
</p>

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Description:</b>
  <%= @idea.description %>
</p>

<p>
  <b>User:</b>
  <%= @idea.user_id %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
