%p#notice= notice
%p
  %b Id:
  = @idea.id
%p
  %b Title:
  = @idea.title
%p
  %b Description:
  = @idea.description
%p
  %b User:
  = @idea.username
= link_to 'Edit', edit_idea_path(@idea)
|
\#{link_to 'Back', ideas_path}
