.header
  %table{:style => "float: right;"}
    %tr
      %td
        = link_to 'Home', home_page_path
      %td
        &nbsp;
      - if current_user.to_s == @idea.username
        %td
          = link_to 'delete', @idea, method: :delete, data: { confirm: 'Are you sure?' }
          &nbsp;
      %td
        = link_to 'Log Out', signout_path, method: :delete
      %td
        &nbsp;
%br
%p
  %h2= @idea.title
%p
  = render 'votes/form'
%p
  = @idea.description
.pull-right
  = render :partial => 'votes/votes_count' , :locals => {:idea => @idea}
%hr
%p by #{@idea.username}

.hero-unit
  %table
    %tr
      %td
        &nbsp;
      %td{:style => "float:right;"}
        %label{:for => "input01", :class => "control-label"}
          ="Title"
      %td
        &nbsp;
        %input{:type => "text", :id => "input01", :class => "input", :value => "#{@idea.title}"}
    %tr
      %td
        &nbsp;
      %td{:style => "float:right;"}
        %label{:class => "control-label"}
          ="Idea Description"
      %td
        &nbsp;
        %textarea{:id => "textarea", :class => "input-xlarge"}="#{@idea.description}"
= render 'comments/comments_and_improvisations'
