<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @rating.id %>
</p>

<p>
  <b>Improvisation:</b>
  <%= @rating.improvisation_id %>
</p>

<p>
  <b>Rated:</b>
  <%= @rating.rated %>
</p>

<p>
  <b>User:</b>
  <%= @rating.user_id %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
