%p#notice= notice
%p
  %b Id:
  = @vote.id
%p
  %b Idea:
  = @vote.idea_id
%p
  %b For against:
  = @vote.for_against
%p
  %b User:
  = @vote.username
= link_to 'Edit', edit_vote_path(@vote)
|
\#{link_to 'Back', votes_path}
