!!!
%html
  %head
    %title IDya
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => home_page_path} IDya
          .btn-group.pull-right
            %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-user
              - if logged_in?
                = current_user.full_name
              - else
                Guest
              %span.caret
            %ul.dropdown-menu
              - if logged_in?
                %li= link_to 'Profile', user_path(current_user)
                %li= link_to 'Sign Out', signout_path, method: :delete
              - else
                %li= link_to 'Sign In', signin_path
          .nav-collapse
            %ul.nav.pull-left
              %li= link_to 'Home', home_page_path
            %ul.nav.pull-right
              %li= render 'shared/search'
          / /.nav-collapse
    .container
      .hero-unit
        .notice-area
          = render 'shared/flashes'
        = yield
      %hr/
      %footer
        %p &copy; Copyright.Imaginea.2012.

